pkgbase = linux-xanmod-rog
	pkgdesc = Linux Xanmod
	pkgver = 5.12.11+xanmod1
	pkgrel = 2
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = cpio
	makedepends = gcc>=11.0
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.sign
	source = https://github.com/xanmod/linux/releases/download/5.12.11-xanmod1/patch-5.12.11-xanmod1.xz
	source = choose-gcc-optimization.sh
	source = https://gitlab.com/asus-linux/fedora-kernel/-/archive/91f97d88231152006764d3c50cc52ddbb508529f/fedora-kernel-91f97d88231152006764d3c50cc52ddbb508529f.zip
	source = 5.12-acpi-1of2-turn-off-unused.patch::https://git.kernel.org/pub/scm/linux/kernel/git/rafael/linux-pm.git/patch/?id=4b9ee772eaa82188b0eb8e05bdd1707c2a992004
	source = 5.12-acpi-refine-turning-off-unused-power-resources.patch
	source = ACPI-processor-idle-Fix-up-C-state-latency-if-not-ordered.patch
	source = PCI-quirks-Quirk-PCI-d3hot-delay-for-AMD-xhci.patch
	source = nvme-pci-look-for-StorageD3Enable-on-companion-ACPI-device.patch
	source = ACPI-Check-StorageD3Enable_DSD-property-in-AHCI-mode.patch
	source = ACPI-Add-quirks-for-AMD-Renoir+Lucienne-CPUs-to-force-the-D3-hint.patch
	source = ACPI-PM-s2idle-Add-missing-LPS0-functions-for-AMD.patch
	source = ACPI-PM-s2idle-Use-correct-revision-id.patch
	source = ACPI-PM-s2idle-Refactor-common-code.patch
	source = ACPI-PM-s2idle-Add-support-for-multiple-func-mask.patch
	source = ACPI-PM-s2idle-Add-support-for-new-Microsoft-UUID.patch
	source = ACPI-PM-Adjust-behavior-for-field-problems-on-AMD-systems.patch
	source = sphinx-workaround.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/sphinx-workaround.patch?h=packages/linux&id=be7d4710850020de55bce930c83fa80347c02fc3
	source = uksm-5.12.patch::https://raw.githubusercontent.com/dolohow/uksm/master/v5.x/uksm-5.12.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7d0df6f2bf2384d68d0bd8e1fe3e071d64364dcdc6002e7b5c87c92d48fac366
	sha256sums = SKIP
	sha256sums = 629f10bd8dd1a3f1427dbc5f2efce7bbe815c3eac1f08a82df80e6d917628f9e
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee
	sha256sums = f94b12f56e99ebfc87014f9570a987bca7b50400c412ddbbb7035d73c5d8c668
	sha256sums = 5af4796400245fec2e84d6e3f847b8896600558aa85f5e9c4706dd50994a9802
	sha256sums = f3b2dbdfd01d728ca1f4bc130eb227edd1985c2b2f7470c8a95aa75c6a85da10
	sha256sums = b4a563ef30f86b9af0932c00bb3422b95eedbda1ff40a1a725c22a0ae9ab7084
	sha256sums = dab4db308ede1aa35166f31671572eeccf0e7637b3218ce3ae519c2705934f79
	sha256sums = 9e83c46bed9059ba78df6c17a2f7c80a1cdb6efbdf64ec643f68573ede891b95
	sha256sums = 6c5538dc21a139a4475af6c1acc5d2761923173992568f7c159db971ff3167cd
	sha256sums = 84119c2d2beb6d7dc56389f2d1be8052b4fd23022e15edd86ee59130adcd9ab7
	sha256sums = 478e908f89ae413c650116681710aed3e974384a2ed5e97be3755189688e5415
	sha256sums = 8c30af848c19e543043cbed07ee0a3f6f247ce2a137fbb0bb84a66024a106897
	sha256sums = 9c838fb8bd1e7874c9a39b48717c3be122d08fb17966dd28ea9da61186158837
	sha256sums = b2dfc605c13b766cca8c89aa74828927cddf44bb65840ac32fdf3685fc837bbc
	sha256sums = 751966936e57a36644cf2d718b37c65519a2ffb8606d5ef315073321fc66877a
	sha256sums = edbeac437170e74bb33b4b5e79bfa1005e3d2588d75610bd379257e5a5646049
	sha256sums = 52fc0fcd806f34e774e36570b2a739dbdf337f7ff679b1c1139bee54d03301eb
	sha256sums = 8b2e476ae108255ae5dc6da43cda57620021a8e68da0e3c568eb44afd3d3254a

pkgname = linux-xanmod-rog
	pkgdesc = The Linux kernel and modules with Xanmod and ASUS ROG laptop patches (Zephyrus G14, G15, etc)
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = linux-xanmod-g14
	conflicts = linux-xanmod-g14

pkgname = linux-xanmod-rog-headers
	pkgdesc = Headers and scripts for building modules for the Linux Xanmod kernel
	depends = pahole
	provides = linux-xanmod-g14-headers
	conflicts = linux-xanmod-g14-headers
