pkgbase = linux-xanmod-rog
	pkgdesc = Linux Xanmod
	pkgver = 5.12.4+xanmod1
	pkgrel = 2
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = cpio
	makedepends = gcc>=11.0
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.sign
	source = https://github.com/xanmod/linux/releases/download/5.12.4-xanmod1/patch-5.12.4-xanmod1.xz
	source = choose-gcc-optimization.sh
	source = https://gitlab.com/asus-linux/fedora-kernel/-/archive/29f433a6b9ba268b0202ac8200cf2ce38d6071b7/fedora-kernel-29f433a6b9ba268b0202ac8200cf2ce38d6071b7.zip
	source = 5.12-acpi-1of2-turn-off-unused.patch::https://git.kernel.org/pub/scm/linux/kernel/git/rafael/linux-pm.git/patch/?id=4b9ee772eaa82188b0eb8e05bdd1707c2a992004
	source = 5.12-acpi-2of2-turn-off-unconditionally.patch::https://git.kernel.org/pub/scm/linux/kernel/git/rafael/linux-pm.git/patch/?id=7e4fdeafa61f2b653fcf9678f09935e55756aed2
	source = 5.12.4--Add-jack-toggle-support-for-headphones-on-Asus-ROG-Z.patch
	source = sphinx-workaround.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/sphinx-workaround.patch?h=packages/linux&id=be7d4710850020de55bce930c83fa80347c02fc3
	source = uksm-5.12.patch::https://raw.githubusercontent.com/dolohow/uksm/master/v5.x/uksm-5.12.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7d0df6f2bf2384d68d0bd8e1fe3e071d64364dcdc6002e7b5c87c92d48fac366
	sha256sums = SKIP
	sha256sums = 550c0791ec823628b94dd9220942510faef33f2e0912a3cc0d0833f3f16561a1
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee
	sha256sums = ce2a5e79ed29c701529f0aa2d854bab79d9f5cbdd173e13774f6e1f4e8ae585f
	sha256sums = 5af4796400245fec2e84d6e3f847b8896600558aa85f5e9c4706dd50994a9802
	sha256sums = 9cf7519ee1a0544f431c9fe57735aae7b9d150e62abed318837befc3b6af7c5f
	sha256sums = 495dc8131b98f4c165107b8f6c1324022b27c9b4442aa1018f78c446f4221d28
	sha256sums = 52fc0fcd806f34e774e36570b2a739dbdf337f7ff679b1c1139bee54d03301eb
	sha256sums = 8b2e476ae108255ae5dc6da43cda57620021a8e68da0e3c568eb44afd3d3254a

pkgname = linux-xanmod-rog
	pkgdesc = The Linux kernel and modules with Xanmod and ASUS ROG laptop patches (Zephyrus G14, G15, etc)
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = linux-xanmod-g14
	conflicts = linux-xanmod-g14

pkgname = linux-xanmod-rog-headers
	pkgdesc = Headers and scripts for building modules for the Linux Xanmod kernel
	depends = pahole
	provides = linux-xanmod-g14-headers
	conflicts = linux-xanmod-g14-headers

